<ion-view view-title="Connection" ng-init="load()">


    <ion-content class="has-header">

        <div class="card" style="text-align: center">

            <div class="item item-text-wrap">
                <p>Cannot connect to server...</p>
                <p>&nbsp;</p>
                <button class="button button-positive" ng-click="reload()">Reload</button>

            </div>
        </div>

    </ion-content>
</ion-view>
