<ion-view view-title="Share">
    <ion-content>
        <div class="card" nf-if="projects.length === 0">
            <div class="item item-text-wrap">
                <h2>Add organisation</h2>
                <p>By accepting you will be added as an employee to this organisation.</p>
                <button class="button button-block button-positive" ng-click="share()">Accept</button>
            </div>
        </div>
    </ion-content>
</ion-view>
