<ion-view class="timesheet" ng-init="init()">

    <ion-nav-title>{{employee.name}}</ion-nav-title>

    <ion-nav-buttons side="right">
        <img ng-if="employee.picture" ng-src="{{employee.picture}}" />
        <img ng-if="!employee.picture" ng-src="img/person.png" />
    </ion-nav-buttons>

    <div class="bar bar-subheader timesheet-header">
        <div class="nav">

            <div class="row">
                <div class="col" ng-click="back(data)">
                    <div class="button button-positive back">
                        <i class="ion-ios-arrow-left"></i>
                    </div>
                    <div class="date">
                        <p><strong>{{date.format("YYYY")}}</strong></p>
                        <p>Week {{date.format("WW")}}</p>
                    </div>
                </div>

                <div class="col" ng-click="next(data)">
                    <div class="button button-positive next">
                        <i class="ion-ios-arrow-right"></i>
                    </div>

                    <div class="date">
                        <p><strong>Worked hours</strong></p>
                        <p>{{total}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <ion-content class="has-header has-subheader">

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="init()">
        </ion-refresher>

        <ion-list class="timesheet-list" ng-repeat="(date, timesheet) in timesheets">

            <ion-item class="item-header item-button-right" ng-class="'item-' + type" ng-if="organisation.multipleshifts || !timesheet[0]">
                <span class="heading">
                    <div class="row">
                        <div class="col col-date">
                            <p><strong>{{moment(date).format("dddd")}}</strong></p>
                        </div>
                        <div class="col col-time">
                            <p>{{moment(date).format("DD MMMM")}}</p>
                        </div>
                    </div>
                </span>
                <div class="buttons">
                    <button class="button button-white" ng-click="add(date)" ng-if="permission.me">
                        <i class="icon ion-ios-plus-empty"></i>
                    </button>
                </div>
            </ion-item>

            <!-- Single shifts -->
            <ion-item class="item-single item-button-right" ng-if="!organisation.multipleshifts && timesheet[0]">
                {{shift=timesheet[0]; ""}}
                <div class="row">
                    <div class="col col-date">
                        <p><strong>{{moment(date).format("dddd")}}</strong></p>
                        <p><span>{{moment(date).format("DD MMM")}}</span></p>
                    </div>
                    <div class="col col-time small">
                        <p>{{shift.time}}</p>
                        <p>
                            <span>{{shift.diff}}</span>
                            <span ng-if="organisation.pause"> | {{shift.pause}}</span>
                        </p>
                    </div>
                    <div class="col col-status small">
                        <p class="status-{{shift.status}}">{{shift.status}}</p>
                        <p>
                            <span>{{getCategoryName(shift.shift.category)}}</span>
                            <span ng-if="shift.shift.category && shift.shift.project"> | </span>
                            <span>{{getProjectName(shift.shift.project)}}</span>
                            <span ng-if="!shift.shift.category && !shift.shift.project">-</span>
                        </p>
                    </div>

                    <div class="col col-button" ng-if="shift.buttons.edit"></div>
                    <div class="col col-button" ng-if="shift.buttons.rejected"></div>
                    <div class="col col-button" ng-if="shift.buttons.approved"></div>
                    <div class="col col-button" ng-if="shift.buttons.blocked"></div>
                </div>

                <div class="buttons">
                    <button class="button button-edit" ng-if="shift.buttons.edit" ng-click="edit(shift.shift)">
                        <i class="icon ion-edit"></i>
                    </button>
                    <button class="button button-rejected" ng-if="shift.buttons.rejected"
                            ng-click="reject(shift.shift)">
                        <i class="icon ion-ios-close-empty"></i>
                    </button>
                    <button class="button button-approved" ng-if="shift.buttons.approved"
                            ng-click="approve(shift.shift)">
                        <i class="icon ion-ios-checkmark-empty"></i>
                    </button>
                    <button class="button button-blocked" ng-if="shift.shift.status === 'blocked'"
                        ng-click="edit(shift.shift)">
                        <i class="icon ion-minus-circled"></i>
                    </button>
                </div>

                <ion-option-button class="button-positive" ng-click="swap(shift.shift)"
                                   ng-if="shift.shift.status === 'planned'">Swap
                </ion-option-button>
            </ion-item>

            <!-- Multiple shifts -->
            <ion-item class="item-multiple item-button-right" ng-repeat="shift in timesheet" ng-if="organisation.multipleshifts">

                <div class="row">
                    <div class="col col-time small">
                        <p class="time">{{shift.time}}</p>
                        <p class="status-{{shift.status}}">{{shift.status}}</p>
                    </div>
                    <div class="col col-time small">
                        <p>
                            <span>{{shift.diff}}</span>
                            <span ng-if="organisation.pause"> | {{shift.pause}}</span>
                        </p>
                        <p>
                            <span>{{getCategoryName(shift.shift.category)}}</span>
                            <span ng-if="shift.shift.category && shift.shift.project"> | </span>
                            <span>{{getProjectName(shift.shift.project)}}</span>
                            <span ng-if="!shift.shift.category && !shift.shift.project">-</span>
                        </p>
                    </div>

                    <div class="col col-button" ng-if="shift.buttons.edit"></div>
                    <div class="col col-button" ng-if="shift.buttons.rejected"></div>
                    <div class="col col-button" ng-if="shift.buttons.approved"></div>
                    <div class="col col-button" ng-if="shift.buttons.blocked"></div>
                </div>

                <div class="buttons">
                    <button class="button button-edit" ng-if="shift.buttons.edit" ng-click="edit(shift.shift)">
                        <i class="icon ion-edit"></i>
                    </button>
                    <button class="button button-rejected" ng-if="shift.buttons.rejected"
                            ng-click="reject(shift.shift)">
                        <i class="icon ion-ios-close-empty"></i>
                    </button>
                    <button class="button button-approved" ng-if="shift.buttons.approved"
                            ng-click="approve(shift.shift)">
                        <i class="icon ion-ios-checkmark-empty"></i>
                    </button>
                    <button class="button button-blocked" ng-if="shift.shift.status === 'blocked'"
                        ng-click="edit(shift.shift)">
                        <i class="icon ion-minus-circled"></i>
                    </button>
                </div>

                <ion-option-button class="button-positive" ng-click="swap(shift.shift)"
                                   ng-if="shift.shift.status === 'planned'">Swap
                </ion-option-button>

            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>