<div class="timePicker">
  <div class="row">
    <div class="col-33">
      <a class="button button-clear button-dark button-small button-arrow increaseHours" ng-click="increaseHours($event)">
        <i class="icon ion-chevron-up"></i>
      </a>
      <div class="box">{{date | date : 'HH'}}</div>
      <a class="button button-clear button-dark button-small button-arrow decreaseHours" ng-click="decreaseHours($event)">
        <i class="icon ion-chevron-down"></i>
      </a>
    </div>
    <label class="col-34 colon"> : </label>
    <div class="col-33">
      <a class="button button-clear button-dark button-small button-arrow increaseMinutes" ng-click="increaseMinutes($event)">
        <i class="icon ion-chevron-up"></i>
      </a>
      <div class="box">{{date | date : 'mm'}}</div>
      <a class="button button-clear button-dark button-small button-arrow decreaseMinutes" ng-click="decreaseMinutes($event)">
        <i class="icon ion-chevron-down"></i>
      </a>
    </div>
  </div>
</div>
