.nav-bar-container {
  background-color: #0a0b0c;
  .buttons-right {
    img {
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }
  }

}

.bar-subheader-date {

  background-color: $base-background-color;
  border: none;
  padding: 0;

  .nav {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0;
    height: 50px;
    .date {
      padding: 2px;
      p {
        margin: 2px;
      }
    }

    .row {
      padding: 0;
      .col {
        padding: 0;
        text-align: center;
      }
    }
    .button {
      line-height: 50px;
      height: 50px;
      width: 50px;
      padding: 0;
      border: none;
      border-radius: 0;
      background-color: $positive;
    }
    .back {
      float: left;
      font-size: 24px;
    }
    .next {
      float: right;
      font-size: 24px;
    }
  }
}
