/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #FFFFFF !default;
$stable:                          #CCCCCC !default;
$positive:                        #444444 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #81C500 !default;
$energized:                       #ffc900 !default;
$assertive:                       #C80031 !default;
$royal:                           #886aea !default;
$dark:                            #444444 !default;

$bar-subheader-height: 50px;

$base-background-color: #F6F6F6;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "scss/shifts";
@import "scss/login";
@import "scss/bar";

.back-button{
  margin-left: 5px;
}

.list{
  background-color: white;
}

.item-input.item-input-right input{
  text-align: right;
}

