/* Login */
.login {
  .scroll-content {
    background: url('../img/login_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  img {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }

  .container {
    margin: 0 auto;
    max-width: 768px;
    height: 100%;
    position: relative;
  }

  .buttons {
    padding: 20px;
    position: absolute;
    bottom: 20px;
    width: 100%;
  }

  .button {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.8;
    height: 60px;
    font-size: 22px;
  }

  .button i {
    float: left;
    width: 20px;
  }

  .button-hours {
    background: #FFF;
    border: none;
    color: #000;
  }

  .button-facebook {
    background: #3b5998;
    border: none;
    color: #FFF;
  }

  .button-qrcode {
    background: #333;
    border: none;
    color: #FFF;
  }

  .button-twitter {
    background: #00aced;
    border: none;
    color: #FFF;
  }

  .button-signin {
    background: transparent;
    border: solid 1px #FFF;
    color: #FFF;
  }

}
