/* time sheet */

$status-planned: #414141;
$status-pending: #F6BD16;
$status-approved: #81C500;
$status-rejected: #C80031;
$status-assigned: #31b0d5;

.item {
  p.status-assigned {
    color: $status-assigned;
  }

  p.status-planned {
    color: $status-planned;
  }

  p.status-pending {
    color: $status-pending;
  }

  p.status-approved {
    color: $status-approved;
  }

  p.status-rejected {
    color: $status-rejected;
  }
}

.shifts {

  .scroll {
    padding: 0;
  }

  .list {
    margin: 0;

    .item {
      padding: 0;
      background-color: #EDEDED;
      border-left: none;
      border-right: none;
      border-bottom: none;

      .small {
        p {
          font-size: 12px;
        }
      }

      .row {
        padding: 0;
        .col {
          padding: 0 2px;
        }
        .col-button {
          flex: 0 0 50px;
        }
      }
    }
    .item-header {
      background-color: #FFFFFF;
      padding: 5px;
      .heading {
        line-height: 45px;
      }
    }

    .item-divider {
      height: 100%;
      margin: 0;
      padding: 5px;
      background-color: #FFF;
    }

    .item-content {
      height: 100%;
      margin: 0;
      padding: 5px;
      background-color: #EDEDED;
    }

    .item-single {
      .col-icon {
        flex: 0 0 15px;
      }
      .col-date {
        flex: 0 0 75px;
      }
      .col-time {
        flex: 0 0 100px;
      }
    }

    .item-multiple {
      .col-icon {
        flex: 0 0 15px;
      }
      .col-date {
        flex: 0 0 110px;
      }
      .col-time {
        min-width: 90px;
      }
    }

    .buttons {
      top: 0;
      right: 0;
      height: 100%;
      .button {
        height: 100%;
        width: 50px;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: #F5F5F5;
        margin-left: 1px;
      }
      .button-edit {
        color: #CCCCCC;
        i:before {

          font-size: 16px;
        }
      }
      .button-white {
        background-color: #FFFFFF;
      }
      .button-approved {
        color: $status-approved;
        i:before {
          font-size: 32px;
        }
      }
      .button-rejected {
        color: $status-rejected;
        i:before {
          font-size: 32px;
        }
      }
    }
  }
}

