<ion-view view-title="Schedule">

  <div class="bar bar-subheader bar-subheader-date">
    <div class="nav">

      <div class="row">
        <div class="col" ng-click="back(data)">
          <div class="button button-positive back">
            <i class="ion-ios-arrow-left"></i>
          </div>
        </div>

        <div class="col">
          <div class="date" style="padding: 14px">
            <span>{{date.format('ddd  DD-MM-YYYY')}}</span>
          </div>
        </div>

        <div class="col" ng-click="next(data)">
          <div class="button button-positive next">
            <i class="ion-ios-arrow-right"></i>
          </div>
        </div>

      </div>
    </div>
  </div>

  <ion-content class="has-header has-subheader shifts">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="init()">
    </ion-refresher>

    <div ng-if="shifts.length === 0" style="text-align: center;padding: 20px">
      No shifts planned
    </div>

    <ion-list ng-if="shifts.length > 0">


      <div class="item item-divider" ng-repeat-start="shift in shifts | orderBy:'categoryName'"
           ng-if="showDivider(shift.category)">{{shift.categoryName}}
      </div>

      <ion-item class="item item-content item-button-right" ng-repeat-end ng-init="category=shift.category">
        <div class="row">
          <div class="col-50 small">
            <p>{{shift.userName || '--Open--'}}</p>
            <p>{{shift.from | date:"HH:mm"}} - {{shift.to | date:"HH:mm"}}</p>
          </div>
          <div class="col-50 small" ng-if="shift.userName">
            <p class="status-{{shift.status}}">{{shift.status}}</p>
          </div>
          <div class="col-50 small" ng-if="!shift.userName">
            <p class="status-open">open</p>
          </div>
        </div>

        <div>

        </div>

        <div class="buttons">
          <button class="button button-edit" ng-if="shift.buttons.edit" ng-click="edit(shift)">
            <i class="icon ion-calendar"></i>
          </button>
          <button class="button button-rejected" ng-if="shift.buttons.rejected"
                  ng-click="reject(shift)">
            <i class="icon ion-ios-close-empty"></i>
          </button>
          <button class="button button-approved" ng-if="shift.buttons.approved"
                  ng-click="approve(shift)">
            <i class="icon ion-ios-checkmark-empty"></i>
          </button>
        </div>
      </ion-item>

      </div>

    </ion-list>

  </ion-content>
</ion-view>
