<ion-view view-title="Setup">

  <ion-content>

    <div style="padding:10px;background-color: white">

      <h1>Welcome</h1>

      <p>Great that you have installed the Hours app.</p>
      <p>This wizard will guide you step by step in setting up your worksheets.</p>
      <p>First step is to create a new organisation or join an existing one.</p>

      <button id="setup-create" class="button button-positive button-block" ng-click="goCreate()">Create new organisation</button>
      <button id="setup-join" class="button button-positive button-block" ng-click="goJoin()">Join existing organisation</button>

    </div>

  </ion-content>
</ion-view>
