<ion-view view-title="Share">

  <ion-content>

    <ion-list>

      <div style="padding: 10px">
        <p>Organisation <strong>{{organisation.name}}</strong> has been created. You can now connect people to your organisation. This can be done by letting them scan the QR code with the Hours app or send them a link via social sharing.</p>
      </div>

      <ion-item style="text-align: center">
        <img width="150px" ng-src="{{qrcode}}"/>
      </ion-item>

      <ion-item>
        <button id="setup-connect" class="button button-positive button-block" ng-click="send()">Send</button>
        <button id="setup-next" class="button button-positive button-block" ng-click="goNext()">Next</button>
      </ion-item>

    </ion-list>


  </ion-content>
</ion-view>
