<ion-view view-title="Join organisation">

  <ion-content>
    <div style="padding:10px;background-color: white">

      <p>There are two ways to join an organisation.</p>
      <p>You could use the link you have received via email or any other messaging service. Tap the link on your device and the Hours
        app will automatically open.</p>
      <p>Another way is to use the scanner to scan the QRcode from any other device.</p>

      <button id="setup-scanner" class="button button-positive button-block" ng-click="scan()">Open scanner
      </button>

    </div>
  </ion-content>
</ion-view>
