<ion-view view-title="Share">

  <ion-content>

    <ion-list>

      <div style="padding: 10px">
        <p>To be able to generate reports credits are needed. If you don't need reports at this time you can click 'Start'. Credits can be purchased at any time, if needed.</p>

        <p ng-if="success">Successfully bought {{credits}} credits for {{amount}} EUR</p>
      </div>



      <ion-item>
        <button id="setup-credits" class="button button-positive button-block" ng-click="buy()">Buy credits</button>
        <button id="setup-start" class="button button-positive button-block" ng-click="goStart()">Start</button>
      </ion-item>

    </ion-list>


  </ion-content>
</ion-view>
