<ion-view view-title="Setup">

  <ion-content>

    <div ng-include="'app/settings/settings-organisations-form.html'"></div>

    <ion-list>
      <ion-item>
        <button id="setup-scanner" class="button button-positive button-block" ng-click="save(organisation)">Save</button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
