<ion-view>
  <ion-content ng-controller="SheetMileageController">

    <form name="mileageForm">
      <ion-list>

        <label class="item item-input item-input-right">
          <span class="input-label">Distance</span>
          <input type="number" name="distance" ng-model="data.distance" placeholder="0" required>
          <span class="input-label">Km</span>
        </label>

        <div class="error-container" ng-show="mileageForm.$submitted && mileageForm.distance.$error.required">
          <div class="error" ng-show="mileageForm.$submitted">
            <i class="ion-information-circled"></i>
            Distance is required</n>
          </div>
        </div>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Origin</span>
          <input type="text" ng-model="data.origin" placeholder="Mileage start location"/>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Destination</span>
          <input type="text" ng-model="data.destination" placeholder="Mileage end location"/>
        </label>

        <label class="item item-input item-select" ng-if="hasProjects() && data.status!='blocked'">
          <div class="input-label">
            Project
          </div>
          <select name="project" ng-model="data.project" ng-options="project._id as project.name for project in projects" required>
            <option value="">Select</option>
          </select>
        </label>
        <div class="error-container" ng-show="mileageForm.$submitted && mileageForm.project.$error.required">
          <div class="error" ng-show="mileageForm.$submitted">
            <i class="ion-information-circled"></i>
            Project is required
          </div>
        </div>

        <div class="item">
          <button id="sheetMileageDelete" ng-if="data._id" class="button button-block button-assertive" ng-click="delete()">Delete</button>
          <button id="sheetMileageSave" class="button button-block button-positive" ng-click="save()">Save</button>
        </div>

      </ion-list>
    </form>

  </ion-content>
</ion-view>
