<ion-view>
  <ion-content ng-controller="SheetAvailabilityController">
    <form name="availabilityForm">
      <h5 style="text-align:center;color:red">Unavailable:</h5>
      <ion-list>

        <label class="item item-input">
          <span class="input-label">From</span>
          <div>
            <time-picker id="fromDatePicker" date="data.from"></time-picker>
          </div>
        </label>

        <label class="item item-input">
          <span class="input-label">To</span>
          <div>
            <time-picker id="toDatePicker" date="data.to"></time-picker>
          </div>
        </label>


        <div class="item">
          <button id="sheetBlockedDelete" ng-if="data._id && data.status!='planned'" class="button button-block button-assertive"
                  ng-click="delete()">Delete
          </button>
          <button id="sheetBlockedSave" class="button button-block button-positive" ng-click="save()">Save</button>
        </div>

      </ion-list>

    </form>
  </ion-content>
</ion-view>
