<ion-view id="sheet" class="timesheet">

  <ion-nav-title>{{(hasRole('owner') || hasRole('approver')) ? employee.name : organisation.name}}</ion-nav-title>

  <ion-nav-buttons side="right">
    <img ng-if="hasRole('owner') && employee.picture" ng-src="{{employee.picture}}"/>
    <img ng-if="hasRole('owner') && !employee.picture" ng-src="img/employee.png"/>
    <img ng-if="!hasRole('owner') && organisation.logo" ng-src="{{organisation.logo}}"/>
    <img ng-if="!hasRole('owner') && !organisation.logo" ng-src="img/organisation.png"/>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-subheader-date">
    <div class="nav">

      <div class="row">
        <div class="col" ng-click="back(data)">
          <div class="button button-positive back">
            <i class="ion-ios-arrow-left"></i>
          </div>
          <div class="date">
            <p ng-if="date.format('WW') != '01'"><strong>{{date.format("YYYY")}}</strong></p>
            <p ng-if="date.format('WW') == '01'"><strong>2018</strong></p>
            <p>Week {{date.format("WW")}}</p>
          </div>
        </div>

        <div class="col" ng-click="next(data)">
          <div class="button button-positive next">
            <i class="ion-ios-arrow-right"></i>
          </div>
          <div class="date">
            <p><strong>Worked hours</strong></p>
            <p>{{total}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <ion-content class="has-header has-subheader shifts">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="init()">
    </ion-refresher>

    <!-- show when not me and role is approver or owner  / qlogic flow-->
    <div id="approve-all" ng-if="hasFeature('approve_all')">
      <button class="button-positive" ng-if="!me() && (hasRole('owner') || hasRole('approver'))"
              ng-click="approveAll()">
        <span>Approve all</span>
        <i class="ion-android-done-all"></i>
      </button>
    </div>

    <ion-list class="timesheet-list" ng-repeat="(date, timesheet) in timesheets">

      <ion-item class="item-header item-button-right" ng-class="'item-' + type"
                ng-if="organisation.settings.multipleshifts || !timesheet[0]">
                <span class="heading">
                    <div class="row">
                      <div class="col col-date">
                        <p><strong>{{moment(date).format("dddd")}}</strong></p>
                      </div>
                      <div class="col col-time">
                        <p>{{moment(date).format("DD MMMM")}}</p>
                      </div>
                    </div>
                </span>
        <div class="buttons">
          <button class="button button-white" ng-click="add(date)" ng-if="me()">
            <i class="icon ion-ios-plus-empty"></i>
          </button>

        </div>
      </ion-item>

      <!-- Single shifts -->
      <ion-item class="item-single item-button-right" ng-if="!organisation.settings.multipleshifts && timesheet[0]">
        {{shift=timesheet[0]; ""}}
        <div class="row" ng-click="details(shift)">
          <div class="col col-date small">
            <p><strong>{{moment(date).format("dddd")}}</strong></p>
            <p><span>{{moment(date).format("DD MMM")}}</span></p>
          </div>
          <div class="col col-icon small">
            <p ng-if="shift.type==='SHIFT'"><i class="icon ion-ios-clock"></i></p>
            <p ng-if="shift.type==='EXPENSE'"><i class="icon ion-ios-copy"></i></p>
            <p ng-if="shift.type==='MILEAGE'"><i class="icon ion-ios-speedometer"></i></p>
            <p ng-if="shift.type==='BLOCKED'"><i class="icon ion-minus-circled"></i></p>
          </div>
          <div class="col col-time small">
            <p ng-if="shift.type==='SHIFT'">{{shift.time}}</p>
            <p ng-if="shift.type==='EXPENSE'">{{shift.shift.amount | currency}}</p>
            <p ng-if="shift.type==='MILEAGE'">{{shift.shift.distance}} Km</p>
            <p ng-if="shift.type==='SHIFT'">
              <span>{{shift.diff}}</span>
              <span ng-if="organisation.pause"> | {{shift.pause}}</span>
            </p>
            <p ng-if="shift.type==='EXPENSE'">
              <span>{{shift.description}}</span>
            </p>
            <p ng-if="shift.type==='MILEAGE'">
              <span>{{shift.shift.origin}}</span>-<span>{{shift.shift.destination}}</span>
            </p>
            <p ng-if="shift.type==='BLOCKED'">
              <span>{{shift.time}}</span>
            </p>


          </div>
          <div class="col col-status small">
            <p class="status-{{shift.status}}">{{shift.status}}</p>
            <p>
              <span>{{categories[shift.shift.category].name}}</span>
              <span ng-if="shift.shift.category && shift.shift.project"> | </span>
              <span>{{projects[shift.shift.project].name}}</span>
              <span ng-if="!shift.shift.category && !shift.shift.project">-</span>
            </p>
          </div>

          <div class="col col-button" ng-if="organisation.features.edit"></div>

          <div class="col col-button" ng-if="shift.buttons.edit"></div>
          <div class="col col-button" ng-if="shift.buttons.rejected"></div>
          <div class="col col-button" ng-if="shift.buttons.approved"></div>
          <div class="col col-button" ng-if="shift.buttons.blocked"></div>
        </div>

        <div class="buttons">
          <button class="button button-edit" ng-if="me() && (shift.status==='pending' || shift.status==='planned')"
                  ng-click="edit(shift.shift)">
            <i class="icon ion-edit"></i>
          </button>
          <button class="button button-rejected"
                  ng-if="shift.status==='rejected' || (!me() && shift.status==='pending')"
                  ng-click="reject(shift.shift)">
            <i class="icon ion-ios-close-empty"></i>
          </button>
          <button class="button button-approved"
                  ng-if="shift.status==='approved' || (!me() && shift.status==='pending')"
                  ng-click="approve(shift.shift)">
            <i class="icon ion-ios-checkmark-empty"></i>
          </button>
          <button class="button button-blocked" ng-if="me() && shift.status==='blocked'"
                  ng-click="edit(shift.shift)">
            <i class="icon ion-minus-circled"></i>
          </button>
        </div>

        <ion-option-button class="button-positive" ng-click="swap(shift.shift)" ng-if="hasFeature('swap') && shift.type=='SHIFT'">
          Swap
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="crew(shift.shift)" ng-if="hasFeature('crew') && shift.type=='SHIFT'">
          Crew
        </ion-option-button>
      </ion-item>

      <!-- Multiple shifts -->
      <ion-item class="item-multiple item-button-right" ng-repeat="shift in timesheet"
                ng-if="organisation.settings.multipleshifts">

        <div class="row" ng-click="details(shift)">

          <div class="col col-icon small">
            <p ng-if="shift.type==='SHIFT'"><i class="icon ion-ios-clock"></i></p>
            <p ng-if="shift.type==='EXPENSE'"><i class="icon ion-ios-copy"></i></p>
            <p ng-if="shift.type==='MILEAGE'"><i class="icon ion-ios-speedometer"></i></p>
            <p ng-if="shift.type==='BLOCKED'"><i class="icon ion-minus-circled"></i></p>
          </div>

          <div class="col col-date small">

            <p ng-if="shift.type==='SHIFT'">{{shift.time}}</p>
            <p ng-if="shift.type==='EXPENSE'">{{shift.shift.amount | currency}}</p>
            <p ng-if="shift.type==='MILEAGE'">{{shift.shift.distance}} Km</p>
            <p ng-if="shift.type==='BLOCKED'">{{shift.time}}</p>
            <p>
              <span>{{categories[shift.shift.category].name}}</span>
              <span ng-if="shift.shift.category && shift.shift.project"> | </span>
              <span>{{projects[shift.shift.project].name}}</span>
              <span ng-if="!shift.shift.category && !shift.shift.project">-</span>
            </p>
          </div>

          <div class="col col-time small">
            <p class="time" ng-if="shift.type=='SHIFT'">
              <span>{{shift.diff}}</span>
              <span ng-if="organisation.pause"> | {{shift.pause}}</span>
            </p>
            <p class="time" ng-if="shift.type=='EXPENSE'">{{shift.description}}</p>
            <p class="time" ng-if="shift.type=='MILEAGE'">{{shift.shift.origin}} - {{shift.shift.destination}}</p>
            <p class="status-{{shift.status}}">{{shift.status}}</p>
          </div>

          <div class="col col-button" ng-if="shift.buttons.edit"></div>
          <div class="col col-button" ng-if="shift.buttons.rejected"></div>
          <div class="col col-button" ng-if="shift.buttons.approved"></div>
          <div class="col col-button" ng-if="shift.buttons.blocked"></div>
        </div>

        <div class="buttons">
          <button class="button button-edit" ng-if="shift.buttons.edit" ng-click="edit(shift.shift)">
            <i class="icon ion-edit"></i>
          </button>
          <button class="button button-rejected" ng-if="shift.buttons.rejected"
                  ng-click="reject(shift.shift)">
            <i class="icon ion-ios-close-empty"></i>
          </button>
          <button class="button button-approved" ng-if="shift.buttons.approved"
                  ng-click="approve(shift.shift)">
            <i class="icon ion-ios-checkmark-empty"></i>
          </button>
          <button class="button button-blocked" ng-if="shift.buttons.blocked">
            <i class="icon ion-minus-circled"></i>
          </button>
        </div>

        <ion-option-button class="button-positive" ng-click="swap(shift.shift)" ng-if="hasFeature('swap') && shift.type=='SHIFT'">
          Swap
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="crew(shift.shift)" ng-if="hasFeature('crew') && shift.type=='SHIFT'">
          Crew
        </ion-option-button>

      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
