<ion-list>

  <div class="item item-divider">
    Status
  </div>
  <div class="item">
    {{shift.status}}
  </div>

  <div class="item item-divider" ng-if="category">
    Category
  </div>
  <div class="item" ng-if="category">
    {{category}}
  </div>

  <div class="item item-divider" ng-if="project">
    Category
  </div>
  <div class="item" ng-if="project">
    {{project}}
  </div>

  <div class="item item-divider">
    Time
  </div>
  <div class="item" >
    {{from}} - {{to}}
  </div>

  <div class="item item-divider" ng-if="picture">
    Picture
  </div>

  <div class="item" ng-if="picture">
    <img ng-src="data:image/gif;base64,{{picture}}" width="100%"/>
  </div>

</ion-list>

