<ion-list>

  <div class="item item-divider">
    Crew
  </div>
  <ion-item ng-repeat="item in crew">
    <p>{{item.user.name}}</p>
    <p><small>{{item.from}} - {{item.to}}</small></p>
  </ion-item>

</ion-list>

