<ion-modal-view id="sheetModal" >
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{date | date:'dd-MM-yyyy'}}</h1>
        <button class="button button-clear button-primary" ng-click="cancel()">Cancel</button>
    </ion-header-bar>

    <ion-tabs class="tabs-icon-top tabs-positive" delegate-handle="sheet" >

        <ion-tab title="Hours" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" hidden="{{type && type!=='SHIFT'}}">
            <ion-view>
                <div ng-include="'app/sheets/sheets-modal-shift.html'"></div>
            </ion-view>
        </ion-tab>

      <ion-tab title="Unavailable" icon-on="ion-ios-close" icon-off="ion-ios-close-outline" hidden="{{(type && type!=='BLOCKED') || !hasFeature('availability')}}">
        <ion-view>
          <div ng-include="'app/sheets/sheets-modal-availability.html'"></div>
        </ion-view>
      </ion-tab>

        <ion-tab title="Expenses" icon-on="ion-ios-copy" icon-off="ion-ios-copy-outline" hidden="{{(type && type!=='EXPENSE') || !hasFeature('expenses')}}">
            <ion-view>
                <div ng-include="'app/sheets/sheets-modal-expenses.html'"></div>
            </ion-view>
        </ion-tab>

        <ion-tab title="Mileage" icon-on="ion-ios-speedometer" icon-off="ion-ios-speedometer-outline" hidden="{{type && type!=='MILEAGE' || !hasFeature('mileage')}}">
            <ion-view>
                <div ng-include="'app/sheets/sheets-modal-mileage.html'"></div>
            </ion-view>
        </ion-tab>
      </ion-tabs>>


</ion-modal-view>
