<ion-view>
  <ion-content ng-controller="SheetShiftController">
    <form name="shiftForm">

      <ion-list>

        <label class="item item-input">
          <span class="input-label">From</span>
          <div>
            <time-picker id="fromDatePicker" date="data.from"></time-picker>
          </div>
        </label>

        <label class="item item-input">
          <span class="input-label">To</span>
          <div>
            <time-picker id="toDatePicker" date="data.to"></time-picker>
          </div>
        </label>


        <div ng-if="data.status!='blocked'">
          <label class="item item-input item-input-right" ng-show="organisation.settings.pause">
            <span class="input-label">Pause</span>
            <input type="number" ng-model="data.pause">
          </label>
        </div>

        <label class="item item-input item-select" ng-if="hasProjects() && data.status!='blocked'">
          <div class="input-label">
            Project
          </div>
          <select name="project" ng-model="data.project" ng-options="project._id as project.name for project in projects" required>
            <option value="">Select</option>
          </select>
        </label>
        <div class="error-container" ng-show="shiftForm.project.$error.required && shiftForm.$submitted">
          <div class="error" ng-show="shiftForm.$submitted">
            <i class="ion-information-circled"></i>
            Project is required
          </div>
        </div>

        <div class="item">
          <button id="sheetShiftDelete" ng-if="data._id && data.status!='planned'" class="button button-block button-assertive"
                  ng-click="delete()">Delete
          </button>
          <button id="sheetShiftSave" class="button button-block button-positive" ng-click="save()">Save</button>
        </div>

      </ion-list>

    </form>
  </ion-content>
</ion-view>
