<ion-view>
  <ion-content ng-controller="SheetExpenseController">
    <form name="expensesForm">
      <ion-list>

        <label class="item item-input item-input-right">
          <span class="input-label">Amount</span>
          <input name="amount" type="number" ng-model="data.amount" placeholder="0,00" required/>
          <span class="input-label">EUR</span>
        </label>
        <div class="error-container" ng-show="expensesForm.$submitted && expensesForm.amount.$error.required">
          <div class="error" ng-show="expensesForm.$submitted">
            <i class="ion-information-circled"></i>
            Amount is required
          </div>
        </div>

        <label class="item item-input item-stacked-label">
          <span class="input-label input-label">Description</span>
          <input type="text" name="description" ng-model="data.description"
                 placeholder="One line description of expense" required/>
        </label>
        <div class="error-container" ng-show="expensesForm.$submitted && expensesForm.description.$error.required">
          <div class="error" ng-show="expensesForm.$submitted">
            <i class="ion-information-circled"></i>
            Description is required.
          </div>
        </div>

        <div class="item" ng-if="data.picture">
          <img class="image-list-thumb" ng-src="{{picture}}" width="100%" style="padding:50px"/>
        </div>
        <div class="item" ng-if="!data.picture">
          <button class="button button-block button-default" ng-click="getPicture()">Add picture</button>
        </div>

        <label class="item item-input item-select" ng-if="hasProjects() && data.status!='blocked'">
          <div class="input-label">
            Project
          </div>
          <select name="project" ng-model="data.project" ng-options="project._id as project.name for project in projects" required>
            <option value="">Select</option>
          </select>
        </label>
        <div class="error-container" ng-show="expensesForm.$submitted && expensesForm.project.$error.required">
          <div class="error" ng-show="expensesForm.$submitted">
            <i class="ion-information-circled"></i>
            Project is required
          </div>
        </div>

        <div class="item">
          <button id="sheetExpensesDelete" ng-if="data._id" class="button button-block button-assertive" ng-click="delete()">Delete</button>
          <button id="sheetExpensesSave" class="button button-block button-positive" ng-click="save()">Save</button>
        </div>

      </ion-list>
    </form>
  </ion-content>
</ion-view>
