<ion-view id="loginView" hide-nav-bar="true" class="login">

  <ion-content scroll="false">

    <div class="container">

      <img src="img/login_logo.png" alt="logo" style="margin-top:10px"/>

      <div class="card">
        <div class="item item-text-wrap" style="background:#ffc107;">
          <h2 style="font-weight:bold">Final release<br /></h2>
          <p>Unfortunately it is for Hours VOF not sustainable to maintain this app.
          This means the app will be available until January 31st. After that, the app will be removed from the App Store, all data will be deleted and the app cannot be used anymore.
          For more information, please drop us an e-mail at info@hours-app.com.
        </div>
      </div>

      <div class="buttons">

        <button class="button button-block button-hours" ng-click="loginLocal()">
          <i class="ion-android-time"></i>
          <span>Login with Hours</span>
        </button>

        <button class="button button-block button-facebook" ng-click="loginFacebook()">
          <i class="ion-social-facebook"></i>
          <span>Login with Facebook</span>
        </button>

        <!--
        <button class="button button-block button-qrcode" ng-click="loginQrcode()">
          <i class="ion-qr-scanner"></i>
          <span>QR code</span>
        </button>
        -->

        <!--
        <button class="button button-block button-signin" ng-click="createAccount()">
          <span>Signup</span>
        </button>
        -->

      </div>

    </div>

  </ion-content>

</ion-view>
