<ion-view id="loginSubscribeView" view-title="SignUp">

    <ion-content>
        <form name="subscribeForm" novalidate >
            <div class="list">

                <!-- Firstname -->
                <label class="item item-input">
                    <input type="text" ng-model="item.firstname" placeholder="Firstname" required name="firstname"/>
                </label>

                <div class="error-container" ng-if="(subscribeForm.$submitted || subscribeForm.firstname.$touched) && subscribeForm.firstname.$invalid">
                    <div class="error" ng-if="subscribeForm.firstname.$error.required" style="font-style:italic">
                        Firstname is required.
                    </div>
                </div>

                <!-- Lastname -->
                <label class="item item-input">
                    <input type="text" ng-model="item.lastname" placeholder="Lastname" required name="lastname"/>
                </label>

                <div class="error-container" ng-if="(subscribeForm.$submitted || subscribeForm.lastname.$touched) && subscribeForm.lastname.$invalid">
                    <div class="error" ng-if="subscribeForm.lastname.$error.required" style="font-style:italic">
                        Lastname is required.
                    </div>
                </div>

                <!-- Email -->
                <label class="item item-input">
                    <input type="email" ng-model="item.email" placeholder="Email" required name="email"/>
                </label>
                <div class="error-container" ng-if="(subscribeForm.$submitted || subscribeForm.email.$touched) && subscribeForm.email.$invalid">
                    <div class="error" ng-if="subscribeForm.email.$error.required" style="font-style:italic">
                        Email is required.
                    </div>
                    <div class="error" ng-if="subscribeForm.email.$error.email">
                        Not a valid email address.
                    </div>
                </div>

                <!-- Password -->
                <label class="item item-input">
                    <input type="password" ng-model="item.password" placeholder="Password" required name="password"/>
                </label>
                <div class="error-container" ng-if="(subscribeForm.$submitted || subscribeForm.password.$touched) && subscribeForm.password.$invalid">
                    <div  class="error" ng-if="subscribeForm.password.$error.required">
                        Password is required.
                    </div>
                </div>

                <!-- Re-Passoword -->
                <label class="item item-input">
                    <input type="password" ng-model="item.repassword" placeholder="Retype Password" required
                           name="repassword"/>
                </label>

                <button class="button button-block button-positive" ng-click="register(subscribeForm.$valid,item)">
                    Register
                </button>

            </div>
        </form>

    </ion-content>
</ion-view>
