<ion-view view-title="Organisations" ng-init="load()">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="add()">
      <i class="icon ion-ios-plus-empty"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="load()">
    </ion-refresher>

    <ion-list ng-if="organisations.length > 0">
      <ion-item class="item-avatar item-icon-right" ng-repeat="organisation in organisations | orderBy:'name' " type="item-text-wrap" ng-click="goEmployee(organisation)">
        <img ng-if="organisation.logo && organisation.logo !== ''" ng-src="{{organisation.logo}}">
        <img ng-if="!organisation.logo" src="img/organisation.png">
        <h2>{{organisation.name}}</h2>
        <p>{{organisation.description}} </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="delete(organisation)" ng-show="organisation.role=='owner' || organisation.role=='worker' || organisation.role=='approver'">
          Delete
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="edit(organisation)" ng-show="organisation.role=='owner'">
          Edit
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="projects(organisation)" ng-show="organisation.role=='owner'">
          Projects
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="share(organisation)" ng-show="organisation.role=='owner'">
          Share
        </ion-option-button>

      </ion-item>
    </ion-list>

    <div class="card" ng-if="organisations.length === 0">
      <div class="item item-text-wrap">
        <p>No organisation found. Please use the <i class="icon ion-plus"></i> to add an organisation.</p>
      </div>
    </div>

  </ion-content>

</ion-view>
