<form novalidate name="employeeForm">
  <div class="list">
    <label class="item item-input">
      <input type="text" ng-model="employee.ref" placeholder="Ref" name="employeeRef" autofocus/>
    </label>
  </div>
</form>
