<ion-view>
    <ion-nav-title>{{projectname}}</ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item class="item-checkbox item" ng-repeat="employee in employees | orderBy:'name' " type="item-text-wrap">
               <label class="checkbox"><input type="checkbox" ng-model="employee.checked"  ng-click="addApprover(employee._id,employee.checked)" ></label>
               <span class="item-avatar" ><img ng-src="{{employee.picture}}" style="margin:-10px 0 0 50px"/><span style="margin-left:-20px">{{employee.name}}</span></span>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

