<ion-view>

  <ion-nav-title>{{organisation.name}}</ion-nav-title>

  <ion-nav-buttons side="right">
    <img ng-if="employee.picture" ng-src="{{organisation.logo}}"/>
    <img ng-if="!employee.picture" ng-src="img/organisation.png"/>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="init()">
    </ion-refresher>

    <ion-list>

      <ion-item class="item-avatar item-icon-right"
                ng-repeat="employee in employees | orderBy:'name'"
                ng-click="select(employee)">

        <img ng-if="employee.picture" ng-src="{{employee.picture}}"/>
        <img ng-if="!employee.picture" ng-src="img/employee.png"/>

        <h2>{{employee.name}}</h2>
        <p ng-show="employee.role=='owner'">Owner</p>
        <p ng-show="employee.role=='approver'">Approver</p>
        <p ng-show="employee.role=='worker'">Employee</p>

        <!-- To approve -->
        <!-- alleen tonen indien niet-owner??? -->

        <span class="badge badge-assertive icon-badge" style="margin:8px" ng-show="employee.count > 0">{{employee.count}}</span>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(employee)" ng-show="hasRole('owner') && employee.role!='owner'">
          Delete
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="edit(employee)" ng-show="hasRole('owner')">
          Edit
        </ion-option-button>


      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
