<ion-view view-title="Reports">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="generate()">
      <i class="icon ion-ios-plus-empty"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="init()">
    </ion-refresher>

    <div class="card" ng-if="reports.length===0">
      <div class="item item-text-wrap">
        There are no reports generated for this organisation. Tap on the <i class="icon ion-ios-plus-empty"></i> and create your first report.
      </div>
    </div>

    <ion-list ng-if="reports.length>0">
      <ion-item class="item-avatar item-icon-right" ng-repeat="report in reports | filter:searchText | orderBy:'name' "
                ng-click="goDetail(report)">

        <img ng-if="report.image" ng-src="{{report.image}}"/>
        <img ng-if="!report.image" src="img/organisation.png">

        <h2>{{report.name}}</h2>

        <p>{{report.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-positive" ng-click="shareCsv(report)">
          CSV
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="shareXlsx(report)">
          Excel
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
