<ion-view view-title="Report" ng-init="load()">

  <ion-content >

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="init()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item-avatar" ng-repeat="item in list">
        <img ng-src="{{item.user.picture}}" />
        <span class="item-note">{{item.total/3600000 | number:2}} h</span>
        <h2>{{item.user.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
