<form name="reportOrg">
  <div class="list">

    <!--label class="item item-input item-select">
      <div class="input-label">
        Organisation
      </div>
      <select ng-model="report.organisation" name="orgName" required autofocus>
        <option ng-repeat="organisation in organisations" value="{{organisation._id}}">{{organisation.name}}</option>
      </select>
    </label>
    <div class="error-container" ng-show="reportOrg.orgName.$touched && reportOrg.orgName.$invalid">
      <small class="error" ng-show="reportOrg.orgName.$error.required">
        Organisation name is required.
      </small>
    </div-->

    <label class="item item-input item-select">
      <div class="input-label">
        Month
      </div>
      <select ng-model="report.month" name="orgMonth" required>
        <option value="1" selected>January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </label>
    <div class="error-container" ng-show="reportOrg.orgMonth.$touched && reportOrg.orgMonth.$invalid">
      <small class="error" ng-show="reportOrg.orgMonth.$error.required">
        Month is required.
      </small>
    </div>

    <label class="item item-input item-select">
      <div class="input-label">
        Year
      </div>
      <select ng-model="report.year" name="orgYear" required>
        <option selected>2016</option>
        <option selected>2017</option>
        <option selected>2018</option>
        <option selected>2019</option>
      </select>
    </label>
    <div class="error-container" ng-show="reportOrg.orgYear.$touched && reportOrg.orgYear.$invalid">
      <small class="error" ng-show="reportOrg.orgYear.$error.required">
        Year is required.
      </small>
    </div>

  </div>
</form>
