<ion-view view-title="Share">
  <ion-content>
    <ion-list>

      <ion-item>
        <p>Add organisation '{{name}}' to your app.</p>
      </ion-item>

      <ion-item>
        <button class="button button-block button-positive" ng-click="join()">Join</button>
        <button class="button button-block button-assertive" ng-click="cancel()">Cancel</button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
