<ion-view view-title="Share">
  <ion-content>
    <ion-list>

      <ion-item>
        <p>User: {{user.name}}</p>
        <p>Organisation: {{organisation.name}}</p>
      </ion-item>

      <ion-item>
        <button class="button button-block button-positive" ng-click="login()">Login</button>
        <button class="button button-block button-assertive" ng-click="cancel()">Cancel</button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
