<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-light tabs-color-active-positive" delegate-handle="main">

  <!-- Projects Tab -->
  <ion-tab title="Sheets" icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" href="#/tab/sheets">
    <ion-nav-view name="tab-sheets"></ion-nav-view>
  </ion-tab>

  <!-- Schedule Tab -->
  <ion-tab title="Schedule" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/schedule" hidden="{{!hasRole('owner') || !hasFeature('schedule')}}">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>


  <!-- Reports Tab -->
  <ion-tab title="Reports" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/reports" hidden="{{!hasRole('owner') || !hasFeature('reports')}}">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
