<ion-view>
  <ion-nav-title>{{employee.name}}</ion-nav-title>

  <ion-content>
    <ion-list>
      <ion-checkbox ng-repeat="employee in employees | orderBy:'name'" ng-model="employee.checked" ng-change="change()">
        <span class="item-avatar">
          <img style="left:65px;top:5px" ng-if="employee.picture" ng-src="{{employee.picture}}"/>
          <img style="left:65px;top:5px" ng-if="!employee.picture" src="/img/employee.png"/>
          </span>
        <span>{{employee.name}}</span>
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
