<ion-list>
  <div class="item">
    <span class="item-note"><b>{{total}} credits</b></span>
    <h2><b>Current balance</b></h2>
  </div>
  <ion-item class="item">
    <div class="button button-block button-balanced" ng-click="buyCredits(50,25.00)">€ 25,00 - 50 credits</div>
  </ion-item>
  <ion-item class="item">
    <div class="button button-block button-balanced" ng-click="buyCredits(150,75.00)">€ 75,00 - 150 credits</div>
  </ion-item>
  <ion-item class="item">
    <div class="button button-block button-balanced" ng-click="buyCredits(300,150.00)">€ 150,00 - 300 credits</div>
  </ion-item>
  <ion-item class="item">
    <div class="button button-block button-balanced" ng-click="buyCredits(600,300.00)">€ 300,00 - 750 credits</div>
  </ion-item>
  <ion-item class="item">
    <div class="button button-block button-balanced" ng-click="buyCredits(1500,750.00)">€ 750,00 - 1500 credits</div>
  </ion-item>
</ion-list>

