<ion-view view-title="Projects" ng-init="load()">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="add()">
      <i class="icon ion-ios-plus-empty"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="load()">
    </ion-refresher>

    <ion-list ng-if="projects.length > 0">
      <ion-item class="item-icon-right" ng-repeat="project in projects" type="item-text-wrap" ng-click="goUsers(project)">

          <span>{{project.name}} </span><span ng-if="project.code">  - {{project.code}}</span>

        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="delete(project)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="edit(project)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="card" ng-if="projects.length === 0">
      <div class="item item-text-wrap">
        <p>There are no projects defined for this organisation. Please use the <i class="icon ion-ios-plus-empty"></i> in the header to add a project. Projects can be used to allocate and structure projects, hours, shifts and approvers.</p>
      </div>
    </div>

  </ion-content>

</ion-view>
