<form novalidate name="projForm">
<div class="list">
    <label class="item item-input">
        <input type="text" ng-model="project.name" placeholder="Name" required name="projName" autofocus/>
    </label>
    <div class="error-container" ng-show="projForm.projName.$touched && projForm.projName.$invalid">
        <small class="error" ng-show="projForm.projName.$error.required">
            Project name is required.
        </small>
    </div>

    <label class="item item-input">
        <input type="text" ng-model="project.code" placeholder="Code" />
    </label>
</div>
</form>