<ion-view view-title="Transactions">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="addCredits()">
            <i class="icon ion-ios-plus-empty"></i>
        </button>
    </ion-nav-buttons>
  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="init()">
    </ion-refresher>

    <ion-list>
      <div class="item">
        <span class="item-note"><b>{{total}}</b></span>
        <h2><b>Current balance</b></h2>
      </div>

      <ion-item ng-repeat="transaction in transactions">
        <span class="item-note">{{transaction.amount}}</span>
        <h2>{{transaction.description}}</h2>
        <p>{{transaction.date | date:'yyyy-MM-dd'}}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
