<ion-view view-title="Settings">
  <ion-content>
    <ion-list>

      <!-- User -->
      <div class="item item-icon-right item-avatar" ng-click="goUser()">
        <img ng-if="user.picture" ng-src="{{user.picture}}"/>
        <img ng-if="!user.picture" ng-src="img/employee.png"/>
        <h2>{{user.name}}</h2>
        <p ng-show="organisation.role=='owner'">Owner</p>
        <p ng-show="organisation.role=='approver'">Approver</p>
        <p ng-show="organisation.role=='worker'">Employee</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>

      <!-- Organisation -->
      <div class="item item-icon-right item-avatar" ng-click="goOrganisations()">
        <img ng-if="organisation.logo && organisation.logo !== ''" ng-src="{{organisation.logo}}">
        <img ng-if="!organisation.logo" src="img/organisation.png">
        <h2>{{organisation.name}}</h2>
        <p>{{organisation.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>

      <ion-item class="item item-icon-right item-avatar" ng-click="goApprover()" ng-if="hasRole('owner')">
        <img src="img/approval.png">
        <h2>Approvers</h2>
        <p>Manage approvers</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <!-- Projects -->
      <ion-item class="item item-icon-right item-avatar" ng-click="goProjects()" ng-if="hasRole('owner')">
        <img ng-src="img/project.png"/>
        <h2>Projects</h2>
        <p>Manage projects</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <!-- Credist -->
      <ion-item class="item item-icon-right item-avatar" type="item-text-wrap" ng-click="goTransactions()" ng-if="hasRole('owner')">
        <img ng-src="img/coins.png"/>
        <h2>Credits</h2>
        <p>Your current balance is {{credits}} credits</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item>
        <div ng-controller="LoginController">
          <button class="button button-block button-positive" ng-click="share()">Connect</button>

          <button class="button button-block button-assertive" ng-click="logout()">Logout</button>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
