<form name="orgForm">

  <ion-list>

    <label class="item item-input">
      <input type="text" name="orgName" ng-model="organisation.name" placeholder="Name Organisation" required=""
             novalidate autofocus/>
    </label>
    <div class="error-container" ng-show="orgForm.orgName.$touched && orgForm.orgName.$invalid">
      <small class="error" ng-show="orgForm.orgName.$error.required">
        Organisation name is required.
      </small>
    </div>

    <label class="item item-input">
      <input type="text" ng-model="organisation.description" placeholder="Description"/>
    </label>

    <div class="item item-toggle">
      Multiple shifts
      <label class="toggle toggle-positive">
        <input type="checkbox" checked="" ng-model="organisation.settings.multipleshifts">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>

    <div class="item item-toggle">
      Pause
      <label class="toggle toggle-positive">
        <input type="checkbox" checked="" ng-model="organisation.settings.pause">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>

    <!-- <div class="item item-toggle">
      Swap
      <label class="toggle toggle-positive">
        <input type="checkbox" checked="" ng-model="organisation.settings.swap">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
-->
    <div class="item item-toggle">
      Availability
      <label class="toggle toggle-positive">
        <input type="checkbox" checked="" ng-model="organisation.settings.availability">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>

  </ion-list>


</form>
