<ion-view>

  <ion-nav-title>Approvers</ion-nav-title>

  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="employee in employees | orderBy:'name'" ng-click="goForm(employee)">
        <img ng-if="employee.picture" ng-src="{{employee.picture}}"/>
        <img ng-if="!employee.picture" src="/img/employee.png"/>
        <span>{{employee.name}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
