<ion-view id="loginSubscribeView" view-title="User Settings">
  <ion-content>
    <form name="userForm" novalidate ng-submit="save()">
      <div class="list">

        <ion-item style="text-align: center;">
          <img style="border-radius: 50%;" width="100px" ng-if="user.picture" ng-src="{{user.picture}}"/>
          <img style="border-radius: 50%;" width="100px" ng-if="!user.picture" ng-src="img/employee.png"/>

        </ion-item>

        <!-- Name -->
        <label class="item item-input">
          <input type="text" ng-model="user.name" placeholder="Name" required name="name"/>
        </label>

        <div class="error-container" ng-if="(userForm.$submitted || userForm.name.$touched) && userForm.name.$invalid">
          <small class="error" ng-if="userForm.name.$error.required">
            Name is required.
          </small>
        </div>

        <!-- Email -->
        <label class="item item-input">
          <input name="email" type="email" ng-model="user.email" placeholder="Email" ng-required="user.provider=='local'" />
        </label>
        <div class="error-container"
             ng-if="(userForm.$submitted || userForm.email.$touched) && userForm.email.$invalid">
          <small class="error" ng-if="userForm.email.$error.required">
            Email is required.
          </small>
          <small class="error" ng-if="userForm.email.$error.email">
            Not a valid email address.
          </small>
        </div>

        <!-- Password -->
        <label class="item item-input" ng-if="user.provider=='local'">
          <input type="password" ng-model="user.password" placeholder="Password" required name="password"/>
        </label>
        <div class="error-container"
             ng-if="(userForm.$submitted || userForm.password.$touched) && userForm.password.$invalid">
          <small class="error" ng-if="userForm.password.$error.required" style="font-style:italic">
            Password is required.
          </small>
        </div>

        <!-- Re-Passoword -->
        <label class="item item-input" ng-if="user.provider=='local'">
          <input type="password" ng-model="user.repassword" placeholder="Retype Password" required
                 name="repassword"/>
        </label>

        <ion-item>
          <button class="button button-block button-positive" id="saveUser">Save</button>
        </ion-item>

      </div>
    </form>

  </ion-content>
</ion-view>
