<ion-view view-title="Projects" ng-init="load()">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="all()">
      Select All
    </button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="init()">
    </ion-refresher>

    <ion-list ng-if="employees.length > 0">
      <ion-checkbox ng-repeat="employee in employees | orderBy:'name'" ng-model="employee.checked" ng-change="change()">
        <span class="item-avatar">
          <img style="left:65px;top:5px" ng-if="employee.picture" ng-src="{{employee.picture}}"/>
          <img style="left:65px;top:5px" ng-if="!employee.picture" src="/img/employee.png"/>
          </span>
        <span>{{employee.name}}</span>
      </ion-checkbox>
    </ion-list>

  </ion-content>

</ion-view>
