body {
  background-color: #cccccc;
}

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
  margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-size: 10px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 13px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

/* time picker */
.timePicker {
  width: 120px;
}

.timePicker .colon {
  padding-top: 32px;
  text-align: center;
}

.timePicker .box {
  font-size: 18px;
  text-align: center;
  border: 1px solid #dddddd;
}

.timePicker .button-arrow {
  padding: 0 10px;
}

.platform-android .bar-subheader {
  top: 93px !important;
}

.platform-android .has-subheader {
  top: 137px;
}

#approve-all{text-align:right;background-color:#fff;border-top:1px solid #EDEDED}
#approve-all button{background-color:#fff;border:none;padding:8px}
#approve-all span{color:green}
#approve-all i{color:green}
